blockquote {
    margin: 0 2rem;
    background-color: #FFFCE0;
    padding: 1rem;
    border-radius: .25rem;
}

blockquote p {
    margin: 0;
}

blockquote p:not(:first-child) {
    margin-top: 1rem;
}
